</div>
<footer>
    <div class="footer_container">
        <div class="Copyright">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </div>
        <div class="icons">
            <div class="icon"><ion-icon name="logo-linkedin"></ion-icon></div>
            <div class="icon"><ion-icon name="logo-instagram"></ion-icon></div>
            <div class="icon"><ion-icon name="logo-github"></ion-icon></div>
            <div class="icon"><ion-icon name="person-circle-outline"></ion-icon></div>       
            
        </div>
    </div>
</footer>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>